<?xml version="1.0"?>
<!--
/**
 * @category    IntegerNet
 * @package     IntegerNet_Anonymizer
 * @author      Andreas von Studnitz <avs@integer-net.de>
 */
 -->
<config>
    <modules>
        <IntegerNet_Anonymizer>
            <version>0.1.0</version>
        </IntegerNet_Anonymizer>
    </modules>
    <global>
        <models>
            <anonymizer>
                <class>IntegerNet_Anonymizer_Model</class>
            </anonymizer>
        </models>
        <helpers>
            <anonymizer>
                <class>IntegerNet_Anonymizer_Helper</class>
            </anonymizer>
        </helpers>
    </global>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <anonymizer after="Mage_Adminhtml">IntegerNet_Anonymizer</anonymizer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <IntegerNet_Anonymizer>
                    <files>
                        <default>IntegerNet_Anonymizer.csv</default>
                    </files>
                </IntegerNet_Anonymizer>
            </modules>
        </translate>
        <layout>
            <updates>
                <anonymizer>
                    <file>anonymizer.xml</file>
                </anonymizer>
            </updates>
        </layout>
    </adminhtml>
</config>
